@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}

.header a, .header a:active, .header a:visited {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  background-color: #232e5b;
  color: white;
}

.header a.title {
  font-size: 20px;
  font-weight: none;
}

.headright {
  float: right;
}

.headright a {
  color: white;
  margin-right: 7px;
}

.page1 {
  color:#232e5b;
  left: 2%;
  margin: auto;
  position: absolute;
  width: 95%;
  height: 700px;
}

.head {
  margin-top: 125px;
}

#info{
  font-size: 40pt;
  font-weight: bold;
  margin-left: 8%;
}

.desc {
  font-size: 20pt;
  font-weight: lighter;
  margin-top: 25px;
  margin-left: 8%;
}

.links {
  font-size: 15pt;
  margin-top: 25px;
  margin-left: 8%;
}

.links a {
  color: #232e5b;
  margin-right: 20px;
  text-decoration: underline;
}

.links a:visited {
  color: #232e5b;
  
}

#status {
  font-size: 12pt;
}


a {
  text-decoration: none;
  color: #232e5b;
}

a:visited {
  color: #232e5b;
}